[submodule "components/expat-dom/src"]
	path = components/expat-dom/src
	url = https://github.com/kolotsey/expat-dom.git
[submodule "components/espfs"]
	path = components/espfs
	url = https://github.com/jkent/esp32-espfs.git
[submodule "wifi_manager"]
	path = components/wifi_manager
	url = https://github.com/tidklaas/esp32_wifi_manager.git
[submodule "components/libesphttpd"]
	path = components/libesphttpd
	url = https://github.com/tidklaas/libesphttpd.git
	branch = wifi_manager
