[submodule "components/expat-dom/src"]
	path = components/expat-dom/src
	url = https://github.com/kolotsey/expat-dom.git
[submodule "components/libesphttpd"]
	path = components/libesphttpd
	url = https://github.com/chmorgan/libesphttpd.git
